<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Álcool ou Gasolina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-img src="/assets/logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h4>Saiba qual o melhor opção para abastecimento do seu carro.</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">

        <ion-item>
          <ion-label position="stacked">
            Preço Álcool
          </ion-label>
          <ion-input type="number" placeholder="Ex: 5,20" [(ngModel)]="precoAlcool">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">
            Preço Gasolina
          </ion-label>
          <ion-input type="number" placeholder="Ex: 7,35" [(ngModel)]="precoGasolina">
          </ion-input>
        </ion-item>

        <ion-button expand="full" (click)="calcular()" shape="round">Calcular</ion-button>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h5 class="ion-text-center">{{resultado}}</h5>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
